#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background-color: palevioletred !important;
}
#calculator {
  width: 336px;
  height: 536px;
  border: 8px solid black;
  border-radius: 15px;
  box-shadow: none;
  background-color: black;
  position: relative;
}

.calc_display {
  color: #fff;
  background: #1c191c;
  line-height: 130px;
  font-size: 6em;
  flex: 1;
}
.text {
  padding: 0 16px;
  float: right;
  display: inline-block;
  transform-origin: right;
}
.keypads {
  display: flex;
  height: 400px;
}
.function_keypad {
  display: flex;
}
.digit_keypad {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: column;
}
.function_keypad {
  display: flex;
}
.digit_keypad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.calculator-key {
  font-size: 2.25em;
  color: #fff;
  background-color: #323232;
  text-align: center;
}
.key-0 {
  width: 160px !important;
  text-align: left;
  padding-left: 26px;
  border-radius: 36px;
}
.calculator-key {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  border: 8px solid #1c191c;
  border-radius: 50%;
}
.operation-keypad button {
  background-color: yellowgreen;
}

